* { font-family: Lato, sans-serif; }

body { margin: 0; }

.wrapper { padding: 50px 25px; }

.title {
  color: #6d6d6d;
  letter-spacing: 1px;
  display: inline-block;
}

.employees li {
  list-style: none;
  display: inline-block;
  padding: 4px;
  margin: 10px 0;
  border: 2px #d1d1d1 solid;
  border-radius: 6px;
  width: 400px;
  display: flex;
}

.employees li:hover {
  opacity: .8;
  background-color: #f9f9f9;
  cursor: pointer;
}

.employees {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  margin: 15px;
  border-radius: 50%;
}

.info {
  display: inline-block;
  color: #878787;
  margin: auto;
  margin-left: 0;

}

h4 { color: black; }

h4,
p,
span {
  margin: 5px 0 5px;
  font-size: .9em;
}

.thumbnail {
  width: 90px;
  height: 90px;
}

.filter {
  display: inline-block;
  float: right;
}

input { height: 20px; }

#search,
#reset {
  height: 25px;
}

.username { display: none; }

/* MODAL WINDOW */

.overlay {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  text-align: center;
}

.lightbox {
  margin-top: 120px;
  padding: 20px;
  width: 310px;
  background-color: #fff;
  display: inline-block;
  border-radius: 6px;
}

.main-info {
  border-bottom: solid 1px #878787;;
  padding: 20px 0;
}

.email2,
.city2,
.details { color: #878787; }

.details { padding: 20px 0; }

.address,
.cell,
.username2 { margin-bottom: 10px; }

#previous,
#next {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  position: relative;
  border-radius: 50%;
}

#previous { float: left; }

#next { float: right; }
